<template>
    <div class="jumbotron mt-3">
       <h1>Selamat Datang di </h1>
       <h1 class="display-4">Aplikasi Manajemen Pegawai</h1>
       <h3>Anda login sebagai Administrator</h3>
    </div>
</template>

<script>
    export default { }
</script>
