<template>
  <div>
  
    <h4 class="mt-2">Tambah Pegawai</h4>
    <hr>

    <form method="post" v-on:submit.prevent="simpan">

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Foto</label>   
      <div class="col-sm-4">
       <div class="custom-file">
         <label for="foto" class="custom-file-label">{{namaFile}}</label>   
         <input class="custom-file-input" type="file" accept="image/*" @change="ubahFoto($event)" >
      </div>
     </div>
   </div>

   <div class="form-group row">
      <label for="nama" class="col-sm-2 col-form-label">Nama</label>   
      <div class="col-sm-4">   
       <input class="form-control" type="text" id="nama" v-model="pegawai.nama_pegawai">
     </div> 
   </div>

   <div class="form-group row">
      <label class="col-sm-2 col-form-label">Jenis Kelamin</label>
     <div class="col-sm-4">   
        <div class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input" type="radio" id="jkl" v-model="pegawai.jenis_kelamin" value="L"> 
          <label class="custom-control-label" for="jkl">Laki-laki</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input" type="radio" id="jkp" v-model="pegawai.jenis_kelamin" value="P"> 
          <label class="custom-control-label" for="jkp">Perempuan</label>
        </div> 
     </div>
   </div>

   <div class="form-group row">
      <label for="tanggal" class="col-sm-2 col-form-label">Tanggal Lahir</label>   
      <div class="col-sm-3">   
        <input class="form-control" type="date" id="tanggal" v-model="pegawai.tgl_lahir">
     </div>
   </div>

   <div class="form-group row">
      <label for="jabatan" class="col-sm-2 col-form-label">Jabatan</label> 
      <div class="col-sm-4">
        <select class="custom-select" id="jabatan" v-model="pegawai.id_jabatan">
          <option value=""> -Pilih Jabatan-</option>
        
          <option v-for="data in jabatan" v-bind:value="data.id_jabatan"> {{ data.nama_jabatan }} </option>";

        </select>
      </div>
   </div>

   <div class="form-group row">
      <label for="keterangan" class="col-sm-2 col-form-label">Keterangan</label>   
      <div class="col-sm-8">
        <textarea class="form-control" id="keterangan" v-model="pegawai.keterangan"></textarea>
     </div>
   </div>

       <button type="submit" class="btn btn-info"><i class="oi oi-task"></i> Simpan</button>
       <button type="reset" class="btn btn-warning"><i class="oi oi-circle-x"></i> Batal</button>
       
    </form>

   </div>
</template>

<script>
  export default {
    data(){
        return{
          pegawai:{},
          jabatan:{},
          namaFile: 'Pilih file...'
        }
    },
    mounted(){
      this.tampil();
    },
    methods: {
      ubahFoto(e){
        this.namaFile = e.target.files[0].name;
        this.pegawai.foto = e.target.files[0];
      },

      tampil(){
        let uri = '/pegawai/create';
        this.axios.get(uri).then((response) => {
          this.jabatan = response.data;
        })
      },

      simpan(){
        let uri = '/pegawai';
        let formData = new FormData();

        formData.append('foto', this.pegawai.foto);
        formData.append('nama_pegawai', this.pegawai.nama_pegawai);
        formData.append('jenis_kelamin', this.pegawai.jenis_kelamin);
        formData.append('tgl_lahir', this.pegawai.tgl_lahir);
        formData.append('id_jabatan', this.pegawai.id_jabatan);
        formData.append('keterangan', this.pegawai.keterangan);
        
        let config = {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        };

        this.axios.post(uri, formData, config).then((response) => {
          this.$router.push({name: 'pegawai'})
        })
    }
  }
}
</script>